IBM intro to Deep Learning using Keras
Final Assignment
Part B - Normalized Baseline Model

I am adopting the workflow:
1. Load the input data
2. Define the Artificial Neural Network (Network)
3. Compile the Network
4. Prepare the data to fit as input to ANN
5. Fit the model with input data
6. Predict the target
7. Evaluate against new data
So an acronym could be
LDC-PFPE

In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error

We load the data and split it using the train_test_split from Sci

In [2]:
df = pd.read_csv("../concrete_data.csv") # load data
concrete_data_columns = df.columns

predictors = df[concrete_data_columns[concrete_data_columns != 'Strength']]
predictors_norm = (predictors - predictors.mean()) / predictors.std()
target = df['Strength'] # define target column(s) and the others are predictors (input)
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [3]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3) # Split

In [4]:
n_cols = X_train.shape[1] # we use this next to define the network input shape

Next we do these two steps in a function
2. Define the Artificial Neural Network (Network)
3. Compile the Network

In [5]:
def regression_model():

    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

4. Prepare the data to fit as input to ANN (No need, done during class)
5. Fit the model with input data
6. Predict the target (y_train)
7. Evaluate against new data (y_test)

In [6]:
MSEs = []
model = regression_model()

for i in range(50):

    model.fit(X_train, y_train, epochs = 50, validation_data=(X_test, y_test), verbose = 0)
    scores = model.evaluate(X_test, y_test, verbose = 0)
    MSEs.append(scores)
    print("Round {} MSE is {}".format(i, scores))

Round 0 MSE is 358.4170837402344
Round 1 MSE is 178.36361694335938
Round 2 MSE is 131.1536865234375
Round 3 MSE is 101.43692016601562
Round 4 MSE is 83.73822784423828
Round 5 MSE is 70.29434204101562
Round 6 MSE is 62.74970245361328
Round 7 MSE is 58.42717361450195
Round 8 MSE is 56.81976318359375
Round 9 MSE is 54.783172607421875
Round 10 MSE is 52.858333587646484
Round 11 MSE is 51.21555709838867
Round 12 MSE is 50.635677337646484
Round 13 MSE is 50.14009475708008
Round 14 MSE is 49.32647705078125
Round 15 MSE is 48.73591613769531
Round 16 MSE is 48.502471923828125
Round 17 MSE is 48.368125915527344
Round 18 MSE is 48.1530876159668
Round 19 MSE is 48.00265121459961
Round 20 MSE is 47.85898208618164
Round 21 MSE is 47.63087463378906
Round 22 MSE is 47.582550048828125
Round 23 MSE is 47.40776062011719
Round 24 MSE is 47.17998504638672
Round 25 MSE is 47.03717041015625
Round 26 MSE is 46.92422866821289
Round 27 MSE is 46.90150451660156
Round 28 MSE is 46.71360778808594
Round 29 MSE is 46.69303512573242
Round 30 MSE is 46.71453857421875
Round 31 MSE is 46.675018310546875
Round 32 MSE is 46.681758880615234
Round 33 MSE is 46.7283821105957
Round 34 MSE is 46.759239196777344
Round 35 MSE is 46.815223693847656
Round 36 MSE is 46.833412170410156
Round 37 MSE is 46.94520568847656
Round 38 MSE is 47.0712890625
Round 39 MSE is 47.124290466308594
Round 40 MSE is 47.154842376708984
Round 41 MSE is 47.216400146484375
Round 42 MSE is 47.249629974365234
Round 43 MSE is 47.21283721923828
Round 44 MSE is 47.28010559082031
Round 45 MSE is 47.28626251220703
Round 46 MSE is 47.293392181396484
Round 47 MSE is 47.26960754394531
Round 48 MSE is 47.51812744140625
Round 49 MSE is 47.56083297729492

Now we calculate the mean and standard deviation for all MSEs

In [7]:
print("Mean for MSEs is {}".format(np.mean(MSEs)))
print("Standard Deviation for MSEs is {}".format(np.std(MSEs)))

Mean for MSEs is 61.308843536376955
Standard Deviation for MSEs is 48.283857779780035

Q: How does the mean of the mean squared errors compare to that from Step A?
A:When we normalize the input data the MSEs are larger than raw data with larger deviation. This Gives an indication of the kind of input data.